/.vs/
/Build/
/Library/
/Logs/
/obj/
/Recordings/
/Temp/
/UIElementsSchema/
/UserSettings/
/*.csproj
/*.sln

FR2_Cache.asset
FR2_Cache.asset.meta

/Assets/FindReference2/
/Assets/FindReference2.meta

/Assets/FolderTab/
/Assets/FolderTab.meta

/Assets/Fullscreen/
/Assets/Fullscreen.meta

/Assets/LevelDesigner/
/Assets/LevelDesigner.meta

/Assets/QuickMenu/
/Assets/QuickMenu.meta

*.wav